.main_container {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 55vh;
    padding: 20px;
    // overflow: scroll;
    // scrollbar-color: red;
    //   margin: 0;
    //   padding: 0;
  }